/* 공통 CSS */
h1{
  text-align: center;
  color: brown;
}
.topbackground{
  background-color: aqua;
}
.menu{
  display: flex;
  width:auto;
  margin-top:20px;
  /* height:280px; */
  justify-content: space-evenly;
}
@font-face {
  font-family: 'twaysky';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_tway@1.0/twaysky.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
li{
  list-style: none;
}
#list1 > li, #list2 > li, #list3 >li, #list4 > li{
  margin-top:15px;
  font-size: 30px;
  font-family: 'twaysky';
}
.menubackground{
  display: flex;  
}
.bestbackground{
  background-image: url("https://mblogthumb-phinf.pstatic.net/MjAxNzEyMjhfMTIg/MDAxNTE0NDYzODEwODY1.M3yWAs_hZE308RN3ENCl-jilb5SZkO-gW4zHxnH8_nUg.j2G25g4bMbyi5oCrHOkjnheyjes3WkK7Oobqr62wj5cg.JPEG.titanicool/%EC%98%B7_%EC%83%89%EC%B9%A0%EA%B3%B5%EB%B6%80.jpg?type=w800");
  background-repeat : no-repeat;
  background-size: cover;
  display : flex; 
  /* margin-top: 300px; */  
}
.bestbackground > img{
  padding: 10px;
}
.footer {
  position: fixed;
  line-height: 100px;
  text-align: center;
  background-color: black;
  color: white;
  bottom: 0;
}
