.bestbackground{
  background-repeat : no-repeat;
  display : flex;  
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin-top: 60px;  
  padding-top: 80px;
  background-size: contain; 

}
.bestbackground img{
  height: 500px;  
}










