.minimer{
  background-repeat : no-repeat;
  display : flex;  
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin-top: 60px;  
  background-size: contain; 

}
.minimer img{
  height: 500px;  
}
